<!doctype html>
<html>
  <head>
    <%= partial 'layouts/components/ga' unless config[:disable_ga] %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= partial 'layouts/components/icons' %>
    <%= partial 'layouts/components/open_graph' %>

    <%# TODO: make title dynamic based on frontmatter %>
    <title>Ethan Dowler</title>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500" rel="stylesheet">
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <%# hidden until the user clicks the menu button %>
    <%= partial 'layouts/components/nav' %>

    <%= partial 'layouts/components/header' %>

    <main>
      <%= yield %>
    </main>

    <%= partial 'layouts/components/footer' %>

    <%= javascript_include_tag "site" %>
    <%= evil_icons_sprite %>
  </body>
</html>
