<div class='Box Box--content'>
  <% copy[:items].each do |item| %>
      <% if item.is_a?(String) %>
        <p>
          <%= item %>
        </p>
      <% elsif item.key?(:title) %>
        <p>
          <% if item[:title] %>
            <span class='bold underline small'><%= item[:title] %></span>
            <br/>
          <% end %>

          <%= item[:body] %>
        </p>
      <% elsif item.key?(:href) %>
        <%= partial :link_button, locals: { text: item[:text], href: "#{config.root_path}#{item[:href]}" } %>
      <% end %>
    </p>
  <% end if copy[:items] %>

  <% if copy[:footnotes] %>
    <div class='Box-footer'>
      <% copy[:footnotes].each do |note| %>
        <p>
          <i><%= note %></i>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
